.flexContainer{
    display: flex;    
}

.continueBttValid{
    border-radius: 50px;
    width: 35%;
    height: 6vw;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(90deg, rgba(130,0,131,1) 10%, rgba(14,0,153,1) 100%);
}

.continueBttValid:hover{
    background: linear-gradient(45deg, rgba(130,0,131,1) 10%, rgba(14,0,153,1) 100%);
    cursor: pointer;
    .content{
      color: white;
    }
}

.continueBttNotValid{
    border-radius: 50px;
    width: 35%;
    height: 6vw;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    background: gray;
    .content{
        font-weight: bold;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        color:black;
        font-size: 1.7vw;
    }
}



.content{
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    color:white;
    font-size: 1.7vw;
}