.buttonContainer {
  display: flex;
}

.buttonContainer__continueBtt {
  border-radius: 50px;
  width: 35%;
  height: 6vw;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(
    90deg,
    rgba(130, 0, 131, 1) 10%,
    rgba(14, 0, 153, 1) 100%
  );
}

.buttonContainer__continueBtt:hover {
  background: linear-gradient(
    30deg,
    rgba(130, 0, 131, 1) 10%,
    rgba(14, 0, 153, 1) 100%
  );
  cursor: pointer;
  .content {
    color: white;
  }
}

.buttonContainer__continueBtt--NotValid {
  border-radius: 50px;
  width: 35%;
  height: 6vw;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
  background: gray;
  pointer-events: none;
  .content {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    color: black;
    font-size: 1.7vw;
  }
}

.buttonContainer__continueBtt:focus {
  outline: 0 !important;
}

.buttonContainer__continueBtt__content {
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  color: white;
  font-size: 1.7vw;
}
