.cards {
  display: flex;
  position: relative;
  justify-content: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -10px;
}

.cards__cardOption {
  padding-top: 6%;
  padding-bottom: 0%;
  border-radius: 10px;
  position: relative;
  width: 16vw;
  margin: 5px;
  height: auto;
  border: 2px solid rgb(3, 3, 58);
  background: white;
}

.cards__cardOption::after {
  content: '';
  display: block;
}

.cards__cardOption:hover {
  background: rgb(3, 3, 58);
  cursor: pointer;
  .cards__cardMonthContent {
    color: white;
  }
  .cards__cardValueContent {
    color: white;
  }
}

.cards__cardOption:focus {
  background: rgb(3, 3, 58);
  outline: 0 !important;
  .cards__cardMonthContent {
    color: white;
  }
  .cards__cardValueContent {
    color: white;
  }
}

.cards__cardMonthContent {
  justify-content: center;
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: rgb(3, 3, 58);
  height: fit-content;
  margin-top: 5%;
  font-size: 1.7vw;
  font-weight: normal;
  margin-bottom: 5px;
}

.cards__cardValueContent {
  justify-content: center;
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: rgb(3, 3, 58);
  height: fit-content;
  margin-top: -2%;
  font-size: 2vw;
  font-weight: bold;
}
