.cardsFlexContainer{
  display: flex;
  position: relative;
  justify-content: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.cardOption {
  border-radius: 10px;
  position: relative;
  width: 16vw;
  margin: 5px;
  height: auto;
  border: 2px solid rgb(3, 3, 58);
  background: white;
}

.cardOption::after {
  content: "";
  display: block;
}

.cardOption:hover{
    background: rgb(3, 3, 58);
    cursor: pointer;
    .cardMonthContent{
      color: white;
    }
    .cardValueContent{
      color: white; 
    }
}

.cardOption:focus{
    background: rgb(3, 3, 58);
    .cardMonthContent{
      color: white;
    }
    .cardValueContent{
      color: white; 
    }
}

.cardMonthContent{
   justify-content: center;
   position: relative;
   width: fit-content;
   margin-right: auto;
   margin-left: auto;
   color: rgb(3, 3, 58);
   height: fit-content;
   margin-top: 5%;
   font-size: 2vw;
   font-weight: normal;
}


.cardValueContent{
   justify-content: center;
   position: relative;
   width: fit-content;
   margin-right: auto;
   margin-left: auto;
   color: rgb(3, 3, 58);
   height: fit-content;
   margin-top: -2%;
   font-size: 2vw;
   font-weight: bold;
}

