.mainCard {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  width: 90%;
  background: white;
  margin-right: auto;
  margin-left: auto;
  top: 100px;
}
  
.mainCard::after {
  content: "";
  display: block;
  padding-bottom: 2%;
}

.MainContent {
  justify-content: center;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: black;
  height: min-content;
  font-size: 2vw;
}

.mainCard__valueText {
  margin-top: 2%;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: rgb(3, 3, 58);
  height: min-content;
  font-size: 5vw;
}

.mainCard__grossAmount {
  margin-top: -4%;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: 35%;
  color: rgb(3, 3, 58);
  height: min-content;
  font-size: 2vw;
}

.mainCard__selectQty{
  margin-top: 0.4%;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: rgb(149, 37, 147);
  height: min-content;
  font-size: 1.9vw;
}

.mainCard__footer{
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2vw;
  font-weight: 500;
  color:  rgb(3, 3, 58);
}
