.sliderContainer{
  -webkit-appearance: none;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgb(139,185,38) 50%, rgb(118,0,117) 50%);
  width: 92%;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
}

.slider{
  -webkit-appearance: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  width: 98%;
  height: 4px;
  background: linear-gradient(90deg, rgb(139,185,38) 50%, rgb(118,0,117) 50%);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgb(3, 3, 58);
  cursor: pointer;
  display: block;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgb(3, 3, 58);
  cursor: pointer;
  display: block;
}

.flexLabels{
  display: flex;
  margin-top: -0.9%;
}

.pull-left{
  position: relative;
  margin-left: 4%;
  font-size: 1.2vw;
}

.pull-right{
  position: relative;
  margin-left: 77%;
  font-size: 1.2vw;
}

.range-tickers {
  display: flex;
  padding: 0;
  margin-left: -5.4%;
  margin-right: -5.4%;
  list-style: none;
  margin-bottom: -22px;
}

.ticker{
  position: relative;
  width: 100%;
  &::before {
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
  }
}

.tickerInvisible{
  position: relative;
  width: 100%;
  &::before {
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
  }
  z-index: -1;
}